pymupdf
pdfplumber
trl
jieba
python-Levenshtein
fuzzywuzzy

langchain==0.0.174
nltk~=3.8.1
sentence-transformers
beautifulsoup4
cpm_kernels
faiss-cpu

tqdm~=4.65.0
peft==0.4.0
accelerate==0.21.0


tqdm
vllm
spacy
jsonlines
torch
transformers
filelock
datasets
nltk
dataclasses
sacrebleu
rouge_score
peft
bitsandbytes
# flash-attn==2.2.2
einops
sentencepiece
deepspeed>=0.10.0
peft>=0.4.0
bitsandbytes>=0.41.1
evaluate>=0.4.0
tokenizers>=0.13.3
tensorboard
openai==0.28.1
tiktoken
