# basic library
tqdm
matplotlib
beautifulsoup4
scikit-learn
dataclasses

# NLP library 
# nltk
# einops
# openai
# tiktoken
# sentence-transformers


# Pytorch library
torch
tensorboard
# deepspeed

# hf library
transformers
peft
datasets
evaluate
bitsandbytes
accelerate
trl

# flash-attn
# git+https://github.com/huggingface/Megatron-LM.git
