# basic library
tqdm
dataclasses

# Pytorch library

# hf library
transformers
datasets
evaluate
peft
bitsandbytes
trl

sentence-transformers
beautifulsoup4

peft
accelerate==0.21.0


vllm
torch
transformers

nltk

# flash-attn==2.2.2
einops
deepspeed>=0.10.0
bitsandbytes>=0.41.1
openai==0.28.1
evaluate>=0.4.0
tokenizers>=0.13.3
tensorboard
tiktoken
